@model IEnumerable<CarPartsPatron.Models.Part>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Parts</h1>

<p>
    <a asp-action="Create">Add a Part to a Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Car
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                Part Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Date Installed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInstalled)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id}) |
                @Html.ActionLink("Details", "Details", new {id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
